.galeria{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 300px);
    grid-template-areas: 
    "img1 img1 img2"
    "img3 img3 img4"
    "img3 img3 img5"
    "img6 img6 img6";
    grid-gap:20px 50px;

    @media(max-width: 768px){
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        display: grid;
        padding: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 300px);
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6";
        grid-gap:20px 50px;

    }

    .item{
        border: 2px solid black;
        border-radius: 15px;
    }

    .item1{
        grid-area: img1;
        background-image:url(../Images/MouseGaleria.png);
        background-size: cover;
        background-position: center;
    }

    .item2{
        grid-area: img2;
        background-image:url(../Images/AuricularesGaleria.jpg);
        background-size: cover;
        background-position: center;
    }

    .item3{
        grid-area: img3;
        background-image:url(../Images/PCGaleria.png);
        background-size: cover;
        background-position: center;
    }

    .item4{
        grid-area: img4;
        background-image:url(../Images/IphoneGaleria.jpg);
        background-size: cover;
        background-position: center;
    }

    .item5{
        grid-area: img5;
        background-image:url(../Images/AirpodsGaleria.jpg);
        background-size: cover;
        background-position: center;
    }

    .item6{
        grid-area: img6;
        background-image:url(../Images/TecladoGaleria.jpg);
        background-size: cover;
        background-position: center;
    }
}

footer{
    margin-top: 1100px;

    @media(max-width: 768px){
        margin-top: 1800px ;
    }
}

